html{
  font-size: 62.5%;
}
body {
  margin: 2rem;
  background:#171010;
  font-size: 150%;
}
::selection{
  background-color: pink;
}
.seminav a{
  color: white;
  font-family: "San Francisco";
}
img {
  width: 10rem;
}
.viscss {
  float: right;
  background-color: black;
  -webkit-text-fill-color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.3rem;
  border-radius: 0.5rem;
  text-decoration: none;
}
.imgb {
  width: 10rem;
  border-radius: 5rem;
}
em {
  background-color: yellow;
  font-style: normal;
}
.unorderli {
  list-style-type: none;
}
.orderli {
  list-style-type: none;
}
.descli {
  list-style-type: none;
}
table,
td,
th {
  border: 0.1rem solid black;
  border-collapse: collapse;
  padding: 0.8rem;
}
.div {
  background-color: yellowgreen;
}
.span {
  background-color: yellowgreen;
}
.elem {
  width: 40rem;
}
.marqueee {
  background-color: red;
  -webkit-text-fill-color: white;
}
.marquee {
  background-color: rgb(157, 188, 224);
  -webkit-text-fill-color: black;
  padding: 1rem;
  font-size: larger;
  font-family: "San Francisco";
}
.seminav {
  background-color: #423F3E;
  padding: 1rem;
  font-family: "San Francisco";
  border-radius: 0.5rem;
  text-align: center;
  
}
.photos {
  background-color: rgb(229, 229, 248);
  padding-left: 1.5rem;
  padding-top: 0.05rem;
  border-radius: 1rem;
  padding-bottom: 0.5rem;
  font-family: "San Francisco";
  box-shadow: 0rem 0rem 0.2rem rgba(0, 0, 0, 0.2);
}
.text {
  background-color: rgb(223, 243, 219);
  padding-left: 1.5rem;
  padding-top: 0.05rem;
  border-radius: 1rem;
  padding-bottom: 0.5rem;
  font-family: "San Francisco";
  box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.2);
}
.Head {
  background-color: rgb(223, 243, 219);
  padding-left: 1.5rem;
  padding-top: 0.05rem;
  border-radius: 1rem;
  padding-bottom: 0.5rem;
  font-family: "San Francisco";
  box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.2);
}
.text {
  background-color: rgb(223, 243, 219);
  padding-left: 1.5rem;
  padding-top: 0.05rem;
  border-radius: 1rem;
  padding-bottom: 0.5rem;
  font-family: "San Francisco";
  box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.2);
}
.Hlinks {
  background-color: rgb(223, 243, 219);
  padding-left: 1.5rem;
  padding-top: 0.05rem;
  border-radius: 1rem;
  padding-bottom: 0.5rem;
  font-family: "San Francisco";
  box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.2);
}
.vidaud {
  background-color: rgb(223, 243, 219);
  padding-left: 1.5rem;
  padding-top: 0.05rem;
  border-radius: 1rem;
  padding-bottom: 0.5rem;
  font-family: "San Francisco";
  box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.2);
}
.Lists {
  background-color: rgb(223, 243, 219);
  padding-left: 1.5rem;
  padding-top: 0.05rem;
  border-radius: 1rem;
  padding-bottom: 0.5rem;
  font-family: "San Francisco";
  box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.2);
}
.tables {
  background-color: rgb(223, 243, 219);
  padding-left: 1.5rem;
  padding-top: 0.05rem;
  border-radius: 1rem;
  padding-bottom: 0.5rem;
  font-family: "San Francisco";
  box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.2);
}
.Containers {
  background-color: rgb(223, 243, 219);
  padding-left: 1.5rem;
  padding-top: 0.05rem;
  border-radius: 1rem;
  padding-bottom: 0.5rem;
  font-family: "San Francisco";
  box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.2);
}
.selem {
  background-color: rgb(223, 243, 219);
  padding-left: 1.5rem;
  padding-top: 0.05rem;
  border-radius: 1rem;
  padding-bottom: 0.5rem;
  font-family: "San Francisco";
  box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.2);
}
.bottom {
  background-color: red;
  -webkit-text-fill-color: white;
  font-size: larger;
  font-style: initial;
}
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

.mainhead {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  font-family: "San Francisco";
  color: white;
}
.seminavtext {
  font-family: "San Francisco";
}

* {
  padding: 0;
  margin: 0;
}

.btn {
  position: fixed;
  width: 5rem;
  height: 6rem;
  bottom: 2rem;
  right: 2rem;
  border-radius: 5rem;
  text-align: center;
  color: black;
  
}

.my-float {
  margin-top: 2.2rem;
}

.selecsss {
  background-color: rgb(229, 229, 248);
  padding-left: 2rem;
  padding-top: 0.05rem;
  border-radius: 1rem;
  padding-bottom: 0.5rem;
  font-family: "San Francisco";
}

.procsss,
.procssli {
  background-color: rgb(229, 229, 248);
  padding-left: 2rem;
  padding-top: 0.05rem;
  border-radius: 1rem;
  padding-bottom: 0.5rem;
  font-family: "San Francisco";
}

.normcsss {
  background-color: rgb(229, 229, 248);
  padding-left: 2rem;
  padding-top: 0.05rem;
  border-radius: 1rem;
  padding-bottom: 0.5rem;
  font-family: "San Francisco";
}

.selecss,
.selecssli {
  background-color: rgb(229, 229, 248);
  padding-left: 2rem;
  padding-top: 0.05rem;
  border-radius: 1rem;
  padding-bottom: 0.5rem;
  font-family: "San Francisco";
}

.speccs {
  background-color: rgb(229, 229, 248);
  padding-left: 2rem;
  padding-top: 0.05rem;
  border-radius: 1rem;
  padding-bottom: 0.5rem;
  font-family: "San Francisco";
  box-shadow: 0rem 0rem 20rem rgba(0, 0, 0, 0.2);
}

.simg {
  width: 30rem;
  border-radius: 1.5rem;
}

.colorcs {
  background-color: rgb(229, 229, 248);
  padding-left: 2rem;
  padding-top: 0.05rem;
  border-radius: 1rem;
  padding-bottom: 0.5rem;
  font-family: "San Francisco";
}
.gradientcs {
  background-color: rgb(223, 243, 219);
  padding-left: 1.5rem;
  padding-top: 0.05rem;
  border-radius: 1rem;
  padding-bottom: 0.5rem;
  font-family: "San Francisco";
  box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.2);
}

.snavelem {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.Layout {
  background-color: rgb(229, 229, 248);
  padding-left: 2rem;
  padding-top: 0.05rem;
  border-radius: 1rem;
  padding-bottom: 0.5rem;
  font-family: "San Francisco";
}
 .descimg{
   width: 30rem;
   border-radius: 1rem;
 }

 .text-indent{
   text-indent: 5rem;
 }

 .overflow{
   border: 0.2rem solid black;
   border-radius: 0.5rem;
   width: 40rem;
   height: 40rem;
   background-color: grey;
   color: white;
   margin-left: 10rem;
   overflow: auto;
 }

 .floatex{
   border: 0.2rem solid black;
 }

 .floatexavtr{
   width: 4rem;
   height: 4rem;
   border-radius: 2rem;
   background-color: black;
   float: left;
 }